@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
#bone-muscle {
  background-image: url('/images/backpain.webp');
  color: black;
}
#metabolism-digestion {
  background-image: url('/images/stomach.avif');
  color: white;
}
#respiratory-skin {
  background-color: #fff3e0;
  background-image: url('/images/respiratory.jpg');
  background-position: center;
  color: black;
}
#special-treatments {
  background-color: #fce4ec;
  background-image: url('/images/headache.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:auto;
  padding: 15px;
  color: black;
}